package templates

templ About() {
	@Layout("About - PocketBase + Templ") {
		<article>
			<h1>About</h1>
			<p>このアプリは以下の技術で構築されています：</p>
			<ul>
				<li>PocketBase - Go製のバックエンドフレームワーク</li>
				<li>Templ - Go用の型安全なテンプレートエンジン</li>
				<li>Pico CSS - ミニマルなCSSフレームワーク</li>
			</ul>
		</article>
	}
}
