package templates

import "html/template"

templ Home(viteTags template.HTML) {
	@Layout("Home - PocketBase + Templ", viteTags) {
		<article>
			<h1>Welcome</h1>
			<p>PocketBase + Templ による SSR アプリケーションです。</p>
		</article>
	}
}
